gateway:
  image: 'com.scriptterror/gateway:{{com.scriptterror:gateway}}'
poll-runner:
  image: 'com.scriptterror/poll-runner:{{com.scriptterror:poll-runner}}'
telegram-bot:
  image: 'com.scriptterror/elegram-bot:{{com.scriptterror:telegram-bot}}'